<!DOCTYPE html>
<html>
    <head>
        <title>Property Custodian Index</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:regular,italic,500,500italic,600,600italic,700,700italic" rel="stylesheet" />
    </head>


    <body id="bg" style="height: 100%; overflow: scroll; font-family:Archivo Narrow; font-size:24px; 
            background: #DFD790;
            background: -webkit-linear-gradient(top left, #DFD790, #ACB0DE);
            background: -moz-linear-gradient(top left, #DFD790, #ACB0DE);
            background: linear-gradient(to bottom right, #DFD790, #ACB0DE);">
        <div class="row">
            <div class="col-md-10 offset-md-1" style=" margin-top: 20px; padding:60px 60px;">
                <div style="padding-bottom:30px; font-family:Oswald;">
                <h1 align="center" style="font-size: 60px;">PROPERY CUSTODIAN INDEX</h1>
                </div>
                    {{{body}}}
            </div>
        </div>
    </body>
</html>